.location {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid map-get($grays, "lighter");

  &:last-child {
    border-bottom: none;
  }

  .location-type {
    font-size: 0.85em;
    color: map-get($grays, "medium");
  }

  h3 {
    line-height: 1em;
    margin-bottom: 0.02em;
    padding-bottom: 0;
  }

  h4 {
    margin-bottom: 0.5em;
  }

  .exclusion {
    padding: 3em;
    font-style: italic;
    text-align: center;
  }

  .vaccination-rates {
    padding-top: 2em;
  }

  .rate {
    text-align: center;
    margin-bottom: 2em;
  }

  .rate-label {
    font-size: 1em;
  }

  .rate-vac {
    font-size: 2em;
  }

  .rate-vac-label {
    font-size: 0.85em;
    color: map-get($grays, "medium");
  }

  .second-row {
    font-size: 0.85em;
  }

  .mmr-vac-chart {
    text-align: left;
  }
}
