.location {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid map-get($grays, "lighter");

  .location-header {
    text-align: center;
  }

  &:last-child {
    border-bottom: none;
  }

  .location-type {
    font-size: 0.85em;
    color: map-get($grays, "medium");
  }

  h3 {
    font-size: 2.8em;
    line-height: 1em;
    margin-bottom: 0.02em;
    padding-bottom: 0;
  }

  h4 {
    margin-bottom: 0.5em;
  }

  .exclusion {
    padding: 3em;
    font-style: italic;
    text-align: center;
  }

  .chart-col {
    display: none;

    @include media-breakpoint-up("md") {
      display: block;
    }
  }

  .vaccination-rates {
    padding-top: 2em;
  }

  .rate {
    text-align: center;
    margin-bottom: 2em;

    &.no-rate {
      display: none;

      @include media-breakpoint-up("sm") {
        display: block;
      }
    }
  }

  .rate-label {
    font-size: 0.8em;

    @include media-breakpoint-up("md") {
      font-size: 0.9em;
    }
  }

  .rate-vac {
    font-size: 1.5em;

    @include media-breakpoint-up("md") {
      font-size: 1.5em;
    }
  }

  .rate-vac-label {
    font-size: 0.7em;
    color: map-get($grays, "medium");

    @include media-breakpoint-up("md") {
      font-size: 0.8em;
    }
  }

  .second-row {
    font-size: 0.85em;
  }

  .mmr-vac-chart {
    text-align: left;
  }

  .stats-table {
    td {
      vertical-align: bottom;
    }

    strong {
      font-size: 1.5em;
    }

    .mmr-value {
      color: $placeColor;
    }
  }
}
