/**
 * Project specific styling.
 */
.intro {
  font-size: 0.9em;

  .dw-chart {
    padding-top: 1.5em;
    margin-bottom: 2.5em;
  }

  p:last-child {
    margin-bottom: 5em;
  }
}
.locations {
  margin-bottom: 5em;
}

.hero {
  h1 {
    font-size: 3.5em;
  }
}

.search-note {
  padding: 3em;
  text-align: center;
  margin-bottom: 3em;
  font-style: italic;
}

.form-compact {
  .form-item-input {
    width: 100%;
  }

  small {
    font-size: 0.75em;
  }
}

.location-lists {
  aside {
    margin-top: 0;

    @include media-breakpoint-up("md") {
      margin-top: 2em;
    }
  }

  @include media-breakpoint-up("md") {
    &.col {
      padding-left: 2em;
    }
  }

  ul {
    margin: 0;
    font-size: 0.85em;
  }

  li {
    margin-bottom: 0.5em;
    width: 50%;
    padding-right: 1em;
    float: left;

    @include media-breakpoint-up("md") {
      width: 100%;
      float: none;
    }
  }

  .active {
    font-weight: bold;
  }
}

.article-footer {
  margin-bottom: 4em;

  ul {
    margin: 0;
  }

  ul li {
    margin-bottom: 0.5em;
  }
}
