/**
 * Project specific styling.
 */

.locations {
  margin-bottom: 5em;
}

.hero {
  h1 {
    font-size: 3.5em;
  }
}

.search-note {
  padding: 3em;
  text-align: center;
  margin-bottom: 3em;
  font-style: italic;
}
