
<div class="strib-styles ssa ssb ssc">
  <div class="container-lg">
    <div class="hero">
      <h1>Vaccinations rates in Minnesota</h1>

      <!-- <p class="lead container-sm"></p> -->

      <div class="byline">
        <address>By
          <a rel="author" href="http://startribune.com/maryjo-webster/303594441/">MaryJo Webster</a>
          and
          <a rel="author" href="http://startribune.com/maryjo-webster/440928273/">Alan Palazzolo</a>
        </address>
        <span class="spacer"></span>
        Star Tribune
        <span class="spacer-alt"></span>
        <time pubdate datetime="2019-01-22T10:00:00">January 22, 2019</time>
      </div>

      <div class="share-placeholder">
        <!-- share -->
      </div>
    </div>
  </div>

  <div class="container-copy bottom-space-extra">
    <p>A measles outbreak <a href="https://www.washingtonpost.com/national/health-science/it-will-take-off-like-a-wildfire-the-unique-dangers-of-the-washington-state-measles-outbreak/2019/02/06/cfd5088a-28fa-11e9-b011-d8500644dc98_story.html?utm_term=.85cef1950a23" target="_blank" rel="noopener">this year in Washington state</a> and another last year that started in <a href="http://www.startribune.com/measles-outbreak-is-over-state-health-officials-say/441764203/">Hennepin County</a> have raised new attention on communities that have low vaccination rates.</p>

    <p>Last year’s outbreak in Hennepin County, that sickened 79 people, shed light on low vaccination rates among children in the Twin Cities Somali community, where immunizations plummeted after a discredited rumor several years ago that vaccines can cause autism.</p>

    <p>This year’s outbreak in Washington State is centered in Clark County, where an estimated 25 percent of children are not vaccinated.</p>

    <p>Data from the Minnesota Department of Health on <a href="http://www.health.state.mn.us/divs/idepc/immunize/stats/school/index.html" target="_blank" rel="noopener">vaccination rates in public and private schools</a> and <a href="http://www.health.state.mn.us/divs/idepc/immunize/stats/childcare/index.html" target="_blank" rel="noopener">child care centers</a> show that there are similar pockets of low vaccination rates throughout the state.</p>

    <p>Four Minnesota counties also have low vaccination rates against measles, according to data on children who were in kindergarten in 2017-18. In Aitkin County, about 37 percent of kindergarteners weren’t vaccinated. In Lincoln, Houston and Grant counties, nearly 20 percent aren’t vaccinated. </p>

    <p>There are just over 200 public or private schools with 15 percent or more of their kindergarteners unvaccinated.</p>

    <p>Among the state’s 1,700 child care centers required to report vaccination rates, there are about 74 centers with 15 percent or more of their children, age two and older, lacking measles immunization. There are some with up to 70 percent of children unvaccinated.  There are also about 300 facilities that did not report in 2017-18, the most recent year of data available. </p>

    <p>Use the search tools below to find vaccination rates for kindergartens and child care centers throughout Minnesota.</p>
  </div>

  <div class="place-search-form container-copy">
    <div class="row">
      <div class="col col-100 col-md-60">
        <h3>Search for a location</h3>

        <form class="form-compact" on:submit="handleSearch(event)">
          <div class="form-item form-item-input">
            <label class="sr-only" for="place-search">Search for a location</label>

            <input type="search" ref:placeSelect  id="place-search" bind:value="placeSearch"  placeholder="Enter a center, school, or district" aria-describedby="place-search-help">

            <small id="place-search-help">
              Type in name, city, or district keywords to search for a child care center or kindergarten in Minnesota.
            </small>
          </div>

          <div class="form-item">
            <button type="submit" on:click="handleSearch(event)">Search</button>
          </div>
        <form>
      </div>

      <div class="col col-100 col-md-40 location-lists">
        <aside>
          <h3 class="label">Notable locations</h3>

          <ul>
            {#each Object.entries(locationLists) as [li, l]}
              <li><a href="#/{ li }" class="{ locationList === li ? 'active' : ''}" on:click="specificList(l, li, event)">{ l.title }</li>
            {/each}
          </ul>
        </aside>
      </div>
    </div>
  </div>

  <div class="container-lg">
    {#if noResults}
      <p class="no-results search-note">
        Your search did not find any results.
      </p>
    {:elseif searchResults && searchResults.length}
      <div class="locations">
        {#each searchResults as r, i (r.id)}
          <Location
            {...r}
            stats="{ stats }"
          />
        {/each}
      </div>

      {#if moreResults}
        <div class="more-results search-note">
          <p>There are more results for the search "{ placeSearch }"; trying making your search more specific to find more exact  location.</p>
        </div>
      {/if}
    {:else}
      <p class="no-searching search-note">
        Use the search above to search for a child care center or kindergarten in Minnesota.
      </p>
    {/if}
  </div>

  <div class="container-copy">
    <footer class="article-footer">
      <p>Data for <a href="http://www.health.state.mn.us/divs/idepc/immunize/stats/school/index.html" target="_blank" rel="noopener">vaccination rates in public and private schools</a> and <a href="http://www.health.state.mn.us/divs/idepc/immunize/stats/childcare/index.html" target="_blank" rel="noopener">child care centers</a> for the 2017-2018 school year provided by the Minnesota Department of Health.</p>

      <ul>
        <li>To protect privacy, schools and school districts with kindergarten enrollment of fewer than 5 children have their data redacted.</li>
        <li>&dagger; "Partially vaccinated or no doses" includes students who are in the process of completing a vaccine series, have not been vaccinated and do not have an exemption on file, or who did not submit vaccine records to their school health staff.</li>
      </ul>
    </footer>
  </div>
</div>

<script>
  import Location from "./shared/_location.svelte.html";
  import lunr from "lunr";
  import { find, sort, orderBy, take, filter } from "lodash";

  export default {
    components: {
      Location
    },

    oncreate() {
      let { locations } = this.get();

      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      if (this.get().attachShare) {
        this.get().attachShare();
      }

      // Create search index
      let index = lunr(function() {
        this.ref("id");
        this.field("name");
        this.field("city");
        this.field("district");

        locations.forEach(l => {
          this.add(l);
        });
      });

      // Attach (no reason to watch any changes)
      this.__searchIndex = index;
    },

    methods: {
      handleSearch(event) {
        if (event && event.preventDefault) {
          event.preventDefault();
        }

        if (this.get().placeSearch) {
          this.search(this.get().placeSearch);
        }
      },

      search(terms) {
        if (!terms) {
          return;
        }

        // Values we need
        let { searchResultsLimit, locations } = this.get();

        // Search
        let results = this.__searchIndex.search(terms);

        // If no results
        if (!results || !results.length) {
          this.set({ noResults: true });
          return;
        }

        // Get results
        let found = [];
        results.forEach((r, ri) => {
          if (ri < searchResultsLimit) {
            let f = find(locations, { id: r.ref });

            if (f) {
              found.push(f);
            }
          }
        });

        this.set({
          searchResults: found,
          moreResults: results.length > searchResultsLimit,
          locationList: undefined
        });
      },

      specificList(list, listId, event) {
        if (event && event.preventDefault) {
          event.preventDefault();
        }

        let { locations } = this.get();
        this.resetSearch();
        this.set({ locationList: listId });

        let filtered = filter(locations, list.filter);
        if (list.sort) {
          filtered = orderBy(
            filtered,
            list.sort.map(s => s[0]),
            list.sort.map(s => s[1])
          );
        }

        if (list.limit) {
          filtered = take(filtered, list.limit);
        }

        this.set({
          searchResults: filtered
        });
      },

      resetSearch() {
        this.set({
          placeSearch: "",
          searchResults: [],
          moreResults: false,
          noResults: false,
          locationList: undefined
        });
      }
    },

    data() {
      return {
        placeSearch: "",
        searchResultsLimit: 20,
        searchResults: [],
        moreResults: false,
        noResults: false,
        locationLists: {
          "lowest-child-care-centers": {
            title: "Child care centers with the lowest rates",
            filter: l => l.type === "child-care-centers" && !l.exclusion,
            sort: [[l => l.mmrVac, "asc"]],
            limit: 20
          },
          "lowest-kindergartens": {
            title: "Kindergartens with the lowest rates",
            filter: l => l.type === "kindergarten" && !l.exclusion,
            sort: [[l => l.mmrVac, "asc"]],
            limit: 20
          }
        }
      };
    }
  };
</script>
