<div class="location">
  <div class="location-type">{ type }</div>
  <h3>{ name }</h3>
  <h4>{ district || city }</h4>

  {#if exclusion}
    <div class="exclusion">
      <p>{ exclusionNotes }</p>
    </div>
  {:else}
    <div>
      <div class="vaccination-rates row">

        <div class="col col-50 rate">
          <div class="rate-label">
            <abbr title="Measles, Mumps, and Rubella">MMR</abbr>
          </div>

          <div class="rate-vac">
            { percent(mmrVac) }
          </div>

          <div class="rate-vac-label">
            Fully vaccinated
          </div>

          <div class="mmr-vac-chart">
            <Histogram
              figureClass="mmr-vac-chart-histogram"
              title="Percent completely vaccinated"
              xLabel="Percent vaccinated"
              yLabel="Number of locations"
              yHide="{ true }"
              yMin="0"
              yMax="{ maxBy(stats.mmrVac.histogram, 'count').count * 1.15 }"
              xMin="0"
              xMax="1"
              xTickCount="10"
              colors="{ [stateColor, placeColor] }"
              dataConfig="{{
                xs: {
                  'Number of places': 'Percent vaccinated'
                },
                columns: [
                  ['Percent vaccinated'].concat(stats.mmrVac.histogram.map(d => (d.min + d.max) / 2)),
                  ['Number of places'].concat(stats.mmrVac.histogram.map(d => d.count))
                ],
                type: 'bar'
              }}"
              xTickFormat="{ d => { return `${Math.round(d * 100)}%`; }}"
              lineAnnotationOptions="{ mmrVac ? (chart) => {
                return {
                  x1: chart.internal.x(mmrVac),
                  y1: chart.internal.y(maxBy(stats.mmrVac.histogram, 'count').count * 1.15),
                  x2: chart.internal.x(mmrVac),
                  y2: chart.internal.y(0),
                  textx: chart.internal.x(mmrVac) + 3,
                  texty: chart.internal.y(maxBy(stats.mmrVac.histogram, 'count').count * 1.05),
                  //text: name
                }
              } : undefined }"
              redraw="{ true }"
            >Chatter chatter chatter.
              {#if mmrVac}
                In { name }, about { percent(mmrVac) } of enrolled children are completely vaccinated.
              {/if}
            </Histogram>
          </div>
        </div>

        <div class="col col-25 rate">
          <div class="rate-label">
            Enrollment
          </div>

          <div class="rate-vac">
            { enrollment }
          </div>

          <div class="rate-vac-label">
            { type === 'child-care-center' ? 'Children 24 months and older' : '' }
          </div>
        </div>

        <div class="col col-25 rate">
          <div class="rate-label">
            <abbr title="Diphtheria, Tetanus, and Whooping cough (Pertussis)">DTaP</abbr>
          </div>

          <div class="rate-vac">
            { percent(dtapVac) }
          </div>

          <div class="rate-vac-label">
            Fully vaccinated
          </div>
        </div>

        <div class="col col-25 rate">
          <div class="rate-label">
            <abbr title="Haemophilus influenzae type b">Hib</abbr>
          </div>

          <div class="rate-vac">
            { percent(hibVac) }
          </div>

          <div class="rate-vac-label">
            Fully vaccinated
          </div>
        </div>

        <div class="col col-25 rate">
          <div class="rate-label">
            Polio
          </div>

          <div class="rate-vac">
            { percent(polioVac) }
          </div>

          <div class="rate-vac-label">
            Fully vaccinated
          </div>
        </div>

        <div class="col col-25 rate">
          <div class="rate-label">
            Hepatitis B
          </div>

          <div class="rate-vac">
            { percent(hepBVac) }
          </div>

          <div class="rate-vac-label">
            Fully vaccinated
          </div>
        </div>

        <div class="col col-25 rate">
          <div class="rate-label">
            Hepatitis A
          </div>

          <div class="rate-vac">
            { percent(hepAVac) }
          </div>

          <div class="rate-vac-label">
            Fully vaccinated
          </div>
        </div>
      </div>
    </div>
  {/if}
</div>

<script>
  import { isNumber, maxBy, find, filter, minBy } from "lodash";
  import Histogram from "./_histogram.svelte.html";
  import styles from "@striblab/strib-styles/build/strib-styles.styles.js";

  export default {
    components: {
      Histogram
    },

    computed: {
      exclusionNotes({ exclusion, type }) {
        if (exclusion === "no-reporting") {
          return "School or center is not reporting this year.";
        } else if (
          exclusion === "no-enrollment" &&
          type === "child-care-center"
        ) {
          return "No enrollment for children 24 months and older.";
        } else if (exclusion === "no-enrollment") {
          return "No enrollment for this school.";
        } else if (exclusion === "low-enrollment") {
          return "Not enough enrollment to have significant data.";
        }

        return "Unknown.";
      }
    },

    helpers: {
      percent(input, placeholder = "-", decimals = 1) {
        if (isNumber(input)) {
          return `${Math.round(input * 100 * Math.pow(10, decimals)) /
            Math.pow(10, decimals)}%`;
        }

        return placeholder;
      },

      maxBy
    },

    data() {
      return {
        stateColor: styles.theme["orange-dark"].hex,
        placeColor: styles["color-text"].hex
      };
    }
  };
</script>
