<div class="location">
  <div class="location-header">
    <div class="location-type">{ locationTypes[type] }</div>
    <h3>{ name }</h3>

    <h4>
      { address ? `${address}, ` : '' }
      { city ? `${city}, MN` : `${district} ${district.match(/school/i) ? '' : 'school'} district` }
    </h4>
  </div>

  {#each grades as g (g.grade)}
    <h5>{ g.grade }</h5>

    {#if exclusion}
      <div class="exclusion">
        <p>{ exclusionNotes }</p>
      </div>
    {:else}
      <div>
        <div class="vaccination-rates row">

          <div class="col col-100 col-md-50">
            <table class="stats-table">
              <thead>
                <tr>
                  <th class="sr-only">Label</th>
                  {#each g.years as y (y.year)}
                    <th>{ y.year - 1 } - { y.year }</th>
                  {/each}
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Enrollment</td>
                  {#each g.years as y (y.year)}
                    <td class="value"><strong>{ y.enrollment }</strong></td>
                  {/each}
                </tr>

                <tr>
                  <td><abbr title="Measles, Mumps, and Rubella">MMR</abbr> fully-vaccinated</td>
                  {#each g.years as y (y.year)}
                    <td class="value mmr-value"><strong>{ percent(y.mmrVac) }</strong></td>
                  {/each}
                </tr>

                <tr>
                  <td><abbr title="Measles, Mumps, and Rubella">MMR</abbr> non-medical exemption</td>
                  {#each g.years as y (y.year)}
                    <td class="value">{ percent(y.mmrNonMedical) }</td>
                  {/each}
                </tr>

                <tr>
                  <td><abbr title="Measles, Mumps, and Rubella">MMR</abbr> medical exemption</td>
                  {#each g.years as y (y.year)}
                    <td class="value">{ percent(y.mmrMedical) }</td>
                  {/each}
                </tr>

                <tr>
                  <td>
                    {#if type === 'child-care-centers'}
                      <abbr title="Measles, Mumps, and Rubella">MMR</abbr> no doses &Dagger;
                    {:else}
                      <abbr title="Measles, Mumps, and Rubella">MMR</abbr> partial or no doses &dagger;
                    {/if}
                  </td>

                  {#each g.years as y (y.year)}
                    <td class="value">{ y.mmrPartialNoDoses ? percent(y.mmrPartialNoDoses) : percent((y.mmrPartial || 0) + (y.mmrNoDoses || 0)) }</td>
                  {/each}
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col col-100 col-md-50 chart-col">
            <div class="mmr-vac-chart">
              {#if g.years[0].year === 2018}
                <Histogram
                  title="Histogram chart showing distribution of vaccination rates in { gradeNamesPlural[g.grade] } in 2018."
                  noLabel="{ true }"
                  data="{ stats[`${ type }--${ g.grade }--2018--mmrVac`].histogram }"
                  yMax="{ maxBy(stats[`${ type }--${ g.grade }--2018--mmrVac`].histogram, 'count').count * 1.1 }"
                  annotationLines="{ [g.years[0].mmrVac] }">
                  This chart shows the rate of <abbr title="Measles, Mumps, and Rubella">MMR</abbr> fully-vaccinated in { gradeNamesPlural[g.grade] } in Minnesota.  { name } had a rate of { percent(g.years[0].mmrVac) }.
                </Histogram>
              {/if}
            </div>
          </div>
        </div>

        <div class="vaccination-rates row second-row">

          <div class="col col-33 col-sm-20 rate { !dtapVac ? 'no-rate' : '' }">
            <div class="rate-label">
              <abbr title="Diphtheria, Tetanus, and Whooping cough (Pertussis)">DTaP</abbr>
            </div>

            <div class="rate-vac">
              { percent(dtapVac) }
            </div>

            <div class="rate-vac-label">
              Fully-vaccinated
            </div>
          </div>

          <div class="col col-33 col-sm-20 rate { !polioVac ? 'no-rate' : '' }">
            <div class="rate-label">
              Polio
            </div>

            <div class="rate-vac">
              { percent(polioVac) }
            </div>

            <div class="rate-vac-label">
              Fully-vaccinated
            </div>
          </div>

          <div class="col col-33 col-sm-20 rate { !hepBVac ? 'no-rate' : '' }">
            <div class="rate-label">
              Hepatitis B
            </div>

            <div class="rate-vac">
              { percent(hepBVac) }
            </div>

            <div class="rate-vac-label">
              Fully-vaccinated
            </div>
          </div>

          <div class="col col-33 col-sm-20 rate { !hepAVac ? 'no-rate' : '' }">
            <div class="rate-label">
              Hepatitis A
            </div>

            <div class="rate-vac">
              { percent(hepAVac) }
            </div>

            <div class="rate-vac-label">
              Fully-vaccinated
            </div>
          </div>

          <div class="col col-33 col-sm-20 rate { !hibVac ? 'no-rate' : '' }">
            <div class="rate-label">
              <abbr title="Haemophilus influenzae type b">Hib</abbr>
            </div>

            <div class="rate-vac">
              { percent(hibVac) }
            </div>

            <div class="rate-vac-label">
              Fully-vaccinated
            </div>
          </div>
        </div>
      </div>
    {/if}
  {/each}
</div>

<script>
  import { isNumber, maxBy, find, filter, minBy } from "lodash";
  import Histogram from "./_histogram.svelte.html";

  export default {
    components: {
      Histogram
    },

    computed: {
      exclusionNotes({ exclusion, type }) {
        if (exclusion === "no-reporting") {
          return "School or center is not reporting this year.";
        } else if (
          exclusion === "no-enrollment" &&
          type === "child-care-center"
        ) {
          return "No enrollment for children 24 months and older.";
        } else if (exclusion === "no-enrollment") {
          return "No enrollment for this school.";
        } else if (exclusion === "low-enrollment") {
          return "Not enough enrollment to have significant data.";
        }

        return "Unknown.";
      }
    },

    helpers: {
      percent(input, placeholder = "-", decimals = 0) {
        if (isNumber(input)) {
          return decimals === 0 && input < 0.01 && input > 0
            ? `< 1%`
            : `${Math.round(input * 100 * Math.pow(10, decimals)) /
                Math.pow(10, decimals)}%`;
        }

        return placeholder;
      },

      maxBy,
      find
    },

    data() {
      return {
        locationTypes: {
          "child-care-centers": "Child care center",
          schools: "School"
          //kindergarten: "Kindergarten"
        },
        gradeNamesPlural: {
          all: "child care centers",
          kindergarten: "kindergartens",
          "7th-grade": "7th grades"
        }
      };
    }
  };
</script>
