<div class="location">
  <div class="location-header">
    <div class="location-type">{ locationTypes[type] }</div>
    <h3>{ name }</h3>
    <h4>{ city ? `${city}, MN` : `${district} school district` }</h4>
  </div>

  {#if exclusion}
    <div class="exclusion">
      <p>{ exclusionNotes }</p>
    </div>
  {:else}
    <div>
      <div class="vaccination-rates row">

        <div class="col col-50">
          <table class="stats-table">
            <thead class="sr-only">
              <tr><th>Label</th><th>Value</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>Enrollment</td>
                <td class="value"><strong>{ enrollment }</strong></td>
              </tr>

              <tr>
                <td><abbr title="Measles, Mumps, and Rubella">MMR</abbr> fully-vaccinated</td>
                <td class="value mmr-value"><strong>{ percent(mmrVac) }</strong></td>
              </tr>

              <tr>
                <td><abbr title="Measles, Mumps, and Rubella">MMR</abbr> non-medical excemption</td>
                <td class="value">{ percent(mmrNonMedical) }</td>
              </tr>

              <tr>
                <td><abbr title="Measles, Mumps, and Rubella">MMR</abbr> medical excemption</td>
                <td class="value">{ percent(mmrMedical) }</td>
              </tr>

              <tr>
                <td><abbr title="Measles, Mumps, and Rubella">MMR</abbr> partial or no doses &dagger;</td>
                <td class="value">{ percent((mmrPartial || 0) + (mmrNoDoses || 0)) }</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col col-50">
          <div class="mmr-vac-chart">
            <Histogram
              title="Histogram chart showing distribution of vaccination rates in child care centers and kindergartens."
              noLabel="{ true }"
              data="{ stats.mmrVac.histogram }"
              yMax="{ maxBy(stats.mmrVac.histogram, 'count').count * 1.1 }"
              annotationLines="{ [mmrVac] }">
              This chart shows the rate of <abbr title="Measles, Mumps, and Rubella">MMR</abbr> fully-vaccinated in all kindergartens and child care centers in Minnesota.  { name } had a rate of { percent(mmrVac) }.
            </Histogram>
          </div>
        </div>
      </div>

      <div class="vaccination-rates row second-row">

        <div class="col col-20 rate">
          <div class="rate-label">
            <abbr title="Diphtheria, Tetanus, and Whooping cough (Pertussis)">DTaP</abbr>
          </div>

          <div class="rate-vac">
            { percent(dtapVac) }
          </div>

          <div class="rate-vac-label">
            Fully-vaccinated
          </div>
        </div>

        <div class="col col-20 rate">
          <div class="rate-label">
            Polio
          </div>

          <div class="rate-vac">
            { percent(polioVac) }
          </div>

          <div class="rate-vac-label">
            Fully-vaccinated
          </div>
        </div>

        <div class="col col-20 rate">
          <div class="rate-label">
            Hepatitis B
          </div>

          <div class="rate-vac">
            { percent(hepBVac) }
          </div>

          <div class="rate-vac-label">
            Fully-vaccinated
          </div>
        </div>

        <div class="col col-20 rate">
          <div class="rate-label">
            Hepatitis A
          </div>

          <div class="rate-vac">
            { percent(hepAVac) }
          </div>

          <div class="rate-vac-label">
            Fully-vaccinated
          </div>
        </div>

        <div class="col col-20 rate">
          <div class="rate-label">
            <abbr title="Haemophilus influenzae type b">Hib</abbr>
          </div>

          <div class="rate-vac">
            { percent(hibVac) }
          </div>

          <div class="rate-vac-label">
            Fully-vaccinated
          </div>
        </div>
      </div>
    </div>
  {/if}
</div>

<script>
  import { isNumber, maxBy, find, filter, minBy } from "lodash";
  import Histogram from "./_histogram.svelte.html";

  export default {
    components: {
      Histogram
    },

    computed: {
      exclusionNotes({ exclusion, type }) {
        if (exclusion === "no-reporting") {
          return "School or center is not reporting this year.";
        } else if (
          exclusion === "no-enrollment" &&
          type === "child-care-center"
        ) {
          return "No enrollment for children 24 months and older.";
        } else if (exclusion === "no-enrollment") {
          return "No enrollment for this school.";
        } else if (exclusion === "low-enrollment") {
          return "Not enough enrollment to have significant data.";
        }

        return "Unknown.";
      }
    },

    helpers: {
      percent(input, placeholder = "-", decimals = 0) {
        if (isNumber(input)) {
          return decimals === 0 && input < 0.01 && input > 0
            ? `< 1%`
            : `${Math.round(input * 100 * Math.pow(10, decimals)) /
                Math.pow(10, decimals)}%`;
        }

        return placeholder;
      },

      maxBy
    },

    data() {
      return {
        locationTypes: {
          "child-care-centers": "Child care center",
          kindergarten: "Kindergarten"
        }
      };
    }
  };
</script>
